@selected-day-color: #6cbfff;
@another-month-day-color: #c3c3c3;

.days-chooser {
  border: 1px solid #008cdc;

  .week {
    width: 100%;
    display: flex;
  }
  .day {
    padding: 5px;
    border: 1px solid #008cdc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: lighten(@selected-day-color, 15%);
    }

    &.selected {
      background-color: #6cbfff;
    }

    &.another-month {
      background-color: @another-month-day-color;

      &:hover {
        background-color: darken(@another-month-day-color, 15%);
      }
    }
  }
}
