@selected-day-color: #6cbfff;
@another-month-day-color: #dadada;

.days-chooser {
  border: 1px solid #008cdc;

  .week {
    width: 100%;
    display: flex;
  }
  .day {
    padding: 5px;
    border: 1px solid #008cdc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: lighten(@selected-day-color, 15%);
    }

    &.disabled,
    &.disabled.another-month {
      pointer-events: none;
      background-color: #6c6c6c;

      &.current {
        background-color:  darken(@selected-day-color, 30%);
      }
    }

    &.current {
      background-color: lighten(@selected-day-color, 15%);

      &:hover {
        background-color: @selected-day-color;
      }
    }

    &.selected,
    &.selected.another-month,
    &.selected.another-month:hover,
    &.selected.current,
    &.disabled.current.selected {
      background-color: @selected-day-color;
    }

    &.another-month {
      background-color: @another-month-day-color;

      &:hover {
        background-color: darken(@another-month-day-color, 15%);
      }
    }
  }
}
